@font-face {
    font-family: bellotaBold;
    src: url("../assets/fonts/Bellota-Bold.ttf") format("ttf");
}

@font-face {
    font-family: bellotaBoldItalic;
    src: url("../assets/fonts/Bellota-BoldItalic.ttf") format("ttf");
}

@font-face {
    font-family: bellotaItalic;
    src: url("../assets/fonts/Bellota-Italic.ttf") format("ttf");
}

@font-face {
    font-family: bellotaRegular;
    src: url("../assets/fonts/Bellota-Regular.ttf") format("ttf");
}