* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Bellota&display=swap");
@import "./partials/breakpoint";
@import "./partials/welcome";
@import "./partials/projects";
@import "./partials/contact";
