@import url("https://fonts.googleapis.com/css?family=Bellota&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f0f2f0), to(#000c40));
  background-image: linear-gradient(to bottom right, #f0f2f0, #000c40);
}

/* media query for mobile */
/* media query for tablet */
/* media query for desktop */
.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  width: 100vw;
}

.welcome__img {
  width: 98%;
  margin: 1%;
}

.welcome__img-pic {
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px black;
          box-shadow: 2px 2px 4px black;
}

.welcome__info {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__info-name {
  width: 100%;
  margin: 3vh 0;
  text-align: center;
  font-family: "Bellota";
  font-weight: bold;
  font-size: 1.5rem;
}

.welcome__info-title {
  width: 95%;
  margin: 2vh 0;
  text-align: center;
  font-family: "Bellota";
  font-size: 1rem;
  font-weight: 600;
}

.welcome__info-description {
  width: 90%;
  margin: 1.5vh 0;
  text-align: center;
  font-family: "Bellota";
  font-size: 1rem;
}

.welcome__info-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 1.5vh 0;
}

.welcome__info-links--github {
  width: 50px;
  height: 50px;
}

.welcome__info-links--github--icon {
  width: 100%;
  height: 100%;
}

.welcome__info-links--linkedin {
  width: 50px;
  height: 50px;
}

.welcome__info-links--linkedin--icon {
  width: 100%;
  height: 100%;
}

.welcome__info-links--resume {
  width: 50px;
  height: 50px;
}

.welcome__info-links--resume--icon {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .welcome {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    width: 100%;
  }
  .welcome__img {
    width: 100%;
    height: 100%;
  }
  .welcome__info {
    width: 100%;
    height: 100%;
  }
}

.projects {
  width: 100vw;
}

.projects__content {
  width: 100%;
  height: 100%;
}

.projects__content-welife {
  height: 100%;
}

.projects__content-welife--title {
  width: 70vw;
  height: 10%;
  margin: 2% 15%;
  font-family: "Bellota";
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.projects__content-welife--preview {
  width: 100vw;
  height: 50%;
}

.projects__content-welife--preview--container {
  width: 70%;
  margin: 2% 15%;
  border-radius: 4px;
}

.projects__content-welife--preview--container--src {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 4px black;
          box-shadow: 4px 4px 4px black;
}

.projects__content-welife--preview--container--src:focus {
  outline: none;
}

.projects__content-welife--description {
  width: 100vw;
  height: 40%;
  font-family: "Bellota";
  font-size: 1rem;
}

.projects__content-welife--description--details {
  width: 60%;
  margin: 2% 20%;
}

.projects__content-welife--description--details--content {
  margin: 2% 0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
}

.contact__picture {
  display: none;
}

.contact__picturewithInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
}

.contact__picturewithInfo-img {
  width: 70%;
  height: 100%;
  margin: 2% 15%;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px black;
          box-shadow: 2px 2px 4px black;
}

.contact__info {
  display: none;
}

@media only screen and (min-width: 768px) {
  .contact__picturewithInfo {
    display: none;
  }
  .contact__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 48vw;
    margin-left: 2vw;
    height: 100%;
  }
  .contact__picture-img {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 2px 2px 4px black;
            box-shadow: 2px 2px 4px black;
  }
  .contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 48vw;
    margin-right: 2vw;
    height: 100%;
    text-align: center;
  }
  .contact__info-container {
    width: 100%;
    height: 50%;
    text-align: center;
    font-family: "Bellota";
    font-size: 2rem;
    font-weight: 400;
    margin: 5% 2%;
  }
  .contact__info-container--title {
    font-weight: bold;
  }
  .contact__info-slogan {
    width: 100%;
    height: 50%;
    text-align: center;
    font-family: "Bellota";
    font-size: 2rem;
    font-weight: 500;
    margin: 5% 2%;
  }
  .contact__info-slogan--content {
    margin-bottom: 8%;
  }
}
/*# sourceMappingURL=main.css.map */